@using RazorDemo.Models
@model Product

<div class="card my-4" style="width: 20rem">
    <h2 class="card-header text-info">@Model.Name</h2>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
        <form asp-controller="Cart" asp-action="Add" method="post" style="display:inline">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="quantity" value="1" />
            <button type="submit" class="btn btn-success btn-sm">Thêm vào giỏ</button>
        </form>
    </div>
</div>
